<h2>Channel {{model}}</h2>

<div class="mt-2">
  <a {{action (mut isShowingMenu) true}}
    href="#"
    class='text-grey-darker text-xs no-underline p-1 border
      border-transparent hover:border-grey-light rounded'
    data-tether-id="channel-topic"
  >
    Welcome to channel {{model}}!
  </a>
</div>

{{!-- {{#if isShowingMenu}} --}}
{{#if true}}

  {{#modal-dialog animatable=true
    onClose=(action (mut isShowingMenu) false)
    clickOutsideToClose=true
    tetherTarget='[data-tether-id="channel-topic"]'
    attachment='top left'
    targetAttachment='top left'
    overlayClass='bg-semi-transparent'}}

    <div class="mt-4">
      <div class="bg-white px-6 py-5 rounded">
        <textarea class='border border-grey-dark rounded p-2'
          placeholder="Add a topic"
          cols="45"
          rows="5" />

        <p class='mt-2 text-grey-darker text-xs'>250 character max.</p>

        <div class='mt-4 text-right'>
          {{#ui-button}}
            Cancel
          {{/ui-button}}
          <span class="pl-2">
            {{#ui-button style='regular green'}}
              Set Topic
            {{/ui-button}}
          </span>
        </div>

        <div class="mt-4 text-right">
          {{#ui-button style='small'}}
            Cancel
          {{/ui-button}}
          <span class="pl-2">
            {{#ui-button style='small green'}}
              Set Topic
            {{/ui-button}}
          </span>
        </div>
      </div>
    </div>

  {{/modal-dialog}}

{{/if}}
