<div class='bg-purple text-white p-4 w-56'>
  <div class="flex">
    <div class="text-lg font-black truncate">
      {{model.name}}
    </div>
    <div class="w-12"></div>
  </div>
</div>
<div class='flex-grow p-4'>
  Messages
</div>
