/**
 * You can create new utilities here.
 *
 * Feel free to rename this file, define multiple utilities here, or make
 * any other files in this directory.

 * Here's an example:
**/

.scale-none {
  transform: scale(1);
}

@variants group-hover {
  .scale-20 {
    transform: scale(1.2);
  }
}

.transition {
  transition: all 0.15s;
}
