<div class='flex h-screen'>
  <div class='bg-purple-dark text-white w-16 p-4 flex justify-center'>W</div>
  <div class='bg-purple text-white p-4 w-48'>Channels</div>
  <div class='flex-grow p-4'>Messages</div>
</div>
